:root{
    font-family: 'BIZ UDPGothic', sans-serif;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.Titulo{
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 70px;
}
.Titulo_sub{
    font-size: 30px;
}



.main{
    width: 70%;
    margin-left: 20%;
    
} 

.navbar{
    width: 100%;
    padding-top: 0px!important;
}

.collapse{
    width: 100%;
}
.margen-abajo{
    margin-bottom: 20px ;
}

.margen-arriba{
    margin-top: 10px;
}

.margen-abajo-lista{
    margin-bottom: 30% !important;   
}
.busqueda{
    width: 100%;
}

.erase{
    cursor: pointer;
}

.erase:hover{
    color: #6c757d;
}

.up{
    margin-top: 5px;
}